
@using OnlineStore.HtmlHelpers
@model OnlineStore.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

@foreach(var p in Model.Products)
{
    
    @Html.Partial("ProductSummary",p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo,x=>Url.Action("List",new {category = Model.CurrentCategory,page = x}))
</div>

